:root {
  scroll-behavior: smooth;
  --cold: #264E86;
  --navy: #0074E4;
  --blue:#74DBEF;
  --bgColor: #eff0f14d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Open-sans", sans-serif;
  color: #444444;
  background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}


.app {
  display: flex;
}

.appContainer {
  flex: 6;
}


.link {
  text-decoration: none;
}